*{
    color: white;
}
option{
    color: black;
}
.main{
    margin-top: 50px;
    background-color: transparent;
}
body{
    background-image: url(https://www.elsevier.com/__data/assets/image/0006/974328/coronavirus-image-iStock-628925532-1200px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
li:nth-child(n){
    background-color: rgba(0, 0, 0, 0.7);  
}
.card{
    background-color: rgba(0, 0, 0, 0.7); 
    border: 0;
}
#Nav{
    background-color: rgba(0, 0, 0, 0.7);
}
#s1,option,.form-control,.form-control:active{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
}
